.range-slider-container {
	/*display: none;*/
	display: inline-block;
	margin: 0 1em;
	direction: ltr;
}

.range-slider-container > span {
	color: #f9f9fa;
	font-size: 1.1em;
}

.range-slider-container .range-rail {
	width: 12em;
	height: 5px;
	display: inline-block;
	margin: 0 10px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 3px;
	background-color: #f9f9fa;
}

.range-slider-container .range-rail .range-slider {
	width: 20px;
	height: 20px;

	position: absolute;
	bottom: 50%;
	transform: translateY(50%);

	user-select: none;
	cursor: pointer;
	z-index: 1;
	border-radius: 50%;

	background-color: #673ec1;
}

.range-input-container {
	display: inline-block;
	color:  #f9f9fa;
}

.range-input-container input {
	width: 3.5em;
	outline: none;
	color: #fbfbfe;
	text-align: center;
	font-family: "IRANSansWeb";
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #673ec1;
	transition: width 0.1s linear;
}

.range-input-container input:focus {
	width: 4em;
}

/* Chrome, Safari, Edge, Opera */
.range-input-container input::-webkit-outer-spin-button,
.range-input-container input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.range-input-container input[type=number] {
	-moz-appearance: textfield;
}

.range-input-container.error input {
	border-bottom: 3px solid #f03;
	color: #f03;
}
