.dropdown {	
	min-width: 150px;
	cursor: pointer;
	position: relative;
	color: #fbfbfe;
}

.dropdown .dropdown-header {
	padding: 5px 10px;
	font-size: 15px;
	border-radius: 8px;
	background-color: #673ec1;
}

.dropdown .dropdown-header input {
	border: none;
	outline: none;
	color: #f9f9fa;
	font-family: "IRANSansWeb";
	background-color: transparent;
}

.dropdown .dropdown-header-radiusTop {
	border-radius: 8px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	box-shadow: 0 2px 6px rgba(28, 27, 24, 0.5);
}

.dropdown .dropdown-header i {
	float: left;
	position: relative;
	top: 2px;
}

.dropdown .dropdown-options-container {
	width: 100%;
	max-height: 15em;
	overflow-y: scroll;
	position: absolute;
	padding: 5px 0px;
	z-index: 3;
	background-color: #673ec1;
	display: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 0 2px 6px rgba(28, 27, 24, 0.5);
}
 
.dropdown .dropdown-options-container.en {
	direction: ltr;
	text-align: left;
	font-size: 0.8em;
}

.dropdown .dropdown-options-container > ul {
	list-style: none;
	padding: 0;
}

.dropdown .dropdown-options-container .dropdown-options {
	padding: 0.5em 1em;
	border-bottom: 1px solid #b1b1b3;
	transition: background-color 0.3s linear;
	cursor: default;
}

.dropdown .dropdown-options-container > ul > li > label {
	display: block;
	width: 100%;
	cursor: pointer;
}

.dropdown .dropdown-options-container p.dropdown-noresult {
	display: none;
	padding: 0.5em 1em;
	direction: rtl;
	text-align: right;
}

.dropdown .dropdown-options-container .dropdown-options:hover {
	background-color: #5e36b9;
}

.dropdown .dropdown-options-container .dropdown-options:last-child { border-bottom: none; }

.dropdown .dropdown-options-container .dropdown-options.selected {
	background-color: #572eb1;
}
