.en { direction: ltr; }
p, h1, h2, h3, h4, h5, h6 { margin: 0; }
body {
	margin: 0;
	background-color: #2b2a33;

	direction: rtl;
	font-family: "IRANSansWeb";
}

content {
	display: inline-block;
	width: 100%;
}
