<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>Precious Source - {% block title %}      {% endblock %}</title>

	<!-- DJANGO STATIC FILES CONFIG -->

	<link href="{% static 'blog/css/style.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'blog/css/fonts.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'blog/css/navbar.css' %}" type="text/css"  rel="stylesheet">
	<link href="{% static 'blog/css/footer.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'blog/lib/fontawesome-pro-5.15.3/css/all.min.css' %}" type="text/css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
	<nav id="main-navbar">
		<ul>
			<li>
				<a href="#">خانه</a>
			</li>
			<li>
				<a href="#">داک</a>
			</li>
			<li>
				<a href="#">کانتریبیوت</a>
			</li>
			<li class="navbar-search">
				<form method="GET" action="#">
					<div class="navbar-search-button">
						<i class="far fa-search search-icon"></i>
						<i class="fal fa-times close-icon" style="display: none;"></i>
					</div>
					<div class="navbar-search-input">
						<input type="text" name="navbar-search" placeholder="تایپ کنید:">
					</div>
					<div class="navbar-search-submit">
						<button type="submit" disabled>
							<i class="far fa-search"></i>
						</button>
					</div>
				</form>
			</li>
			<li>
				<!-- <img src="#"> -->
				<a href="#">&lt;&#47;Logo&gt;</a>
			</li>
		</ul>
	</nav>
	<content>
	<!-- DJANGO BASE PAGE (All other contents will be imported here)-->
	
		  {% block content %}

			{% endblock %}

	</content>
	<footer>
		<div class="footer-contactInfo">
			<ul>
				<li>
					ما؟
				</li>
				<li>
					<i class="fas fa-envelope"></i>
					<a href="emailto:">ایمیل: precious-source@gmail.com</a>
				</li>
				<li>
					<i class="fab fa-github"></i>
					<a href="https://github.com/khoramism/precious-source">گیت هاب: khoramism/precious-source</a>
				</li>
			</ul>
		</div>
		<div class="footer-links">
			<ul>
				<li>
					لینک&zwnj;های باحال
				</li>
				<li>
					<a href="#">گوگل</a>
				</li>
				<li>
					<a href="#">لینوکس</a>
				</li>
			</ul>
		</div>
		<div class="footer-links">
			<ul>
				<li>
					صفحه&zwnj;های باحال
				</li>
				<li>
					<a href="https://www.github.com/khoramism/precious-source/HelpAPI.md">API</a>
				</li>
				<li>
					<a href="https://www.github.com/khoramism/precious-source/contribute.md">بهبود دادن پرشس سورس</a>
				</li>
			</ul>
		</div>
		
	</footer>
	<script type="text/javascript" src="{% static 'blog/js/navbar.js' %}"></script>
</body>
</html>
