{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<head>
    <meta charset="UTF-8">
    <title>{{ indexFunc.title }}</title>

    <link href="{% static 'blog/css/search_forms.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'blog/css/search_dropdown.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'blog/css/search_rangeSlider.css' %}" type="text/css" rel="stylesheet">
</head>

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
</div>
<br>
<div class="form-container">
	<form method="get" action=''>
		
		<div class="word-search-container">
			<label class="search-label" for="word-search">عنوان/توضیحات شامل:</label>
			{{ form }}
			
		</div>

	</form>
</div>
<div class="form-container">
  <form method="GET">
    <div id="completed-search-form">
      <span id="completed-search-form__word"></span>
      <span id="completed-search-form__lang"></span>
      <span id="completed-search-form__category"></span>
      <span id="completed-search-form__stars"></span>
      <span id="completed-search-form__submit"></span>
    </div>

    <div class="word-search-container">
      <label class="search-label" for="word-search">عنوان/توضیحات شامل:</label>
      <input placeholder="تایپ کنید:" type="text" name="words" id="word-search">
    </div>

    <div id="tag-search__lang" class="tag-search-container">
      <div class="search-label">
        <p>زبان/تکنولوژی مورد نظر را انتخاب کنید: </p>
      </div>
      <div class="dropdown-container">
        <div class="dropdown">
          <div class="dropdown-header">کلیک کنید:&nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i></div>
          <div id="dropdown__lang" class="dropdown-options-container en">
            <!-- <div id="dropdown-option__TXT" class="dropdown-options"><p><i class="far fa-square"></i>TXT</p></div> -->
          </div>
        </div>
      </div>
      <div id="selected-tags__lang" class="selected-tags">
        <!-- icon lang kenaresh bashe vaghti hover mishe avaz she be x -->
        <!-- <div>
          <span><i class="fas fa-times-circle"></i></span>
          <span>tag name</span>
        </div> -->
      </div>
    </div>

    <div id="tag-search__categort" class="tag-search-container">
      <div class="search-label">
        <p>دسته&zwnj;بندی مورد نظر را انتخاب کنید: </p>
      </div>
      <div class="dropdown-container">
        <div class="dropdown">
          <div class="dropdown-header">کلیک کنید:&nbsp;&nbsp;&nbsp;<i class="fas fa-sort-down"></i></div>
          <div id="dropdown__category" class="dropdown-options-container en">
            <!-- <div id="dropdown-option__TXT" class="dropdown-options"><p><i class="far fa-square"></i>TXT</p></div> -->
          </div>
        </div>
      </div>
      <div id="selected-tags__category" class="selected-tags">
        <!-- icon lang kenaresh bashe vaghti hover mishe avaz she be x -->
        <!-- <div>
          <span><i class="fas fa-times-circle"></i></span>
          <span>tag name</span>
        </div> -->
      </div>
    </div>

    <div class="rating-filter-container">
      <div class="search-label">
        <p>تعداد ستاره در گیت هاب: </p>
      </div>

      <div class="range-slider-container">
        <span>0</span>
        <div class="range-rail">
          <div class="range-slider" id="range-slider-min"></div>
          <div class="range-slider" id="range-slider-max"></div>
        </div>
        <span>&infin;</span>
      </div>

      <div class="range-input-container">
        <label for="range-slider__min">از:</label>
        <input type="number" step="1" min="0" name="min-rating" id="range-slider__min">
        <label for="range-slider__max">تا:</label>
        <input type="number" step="1" min="1" name="max-rating" id="range-slider__max">
      </div>
    </div>

    <div class="submit-container">
      <button type="submit">جست&zwnj;وجو</button>
    </div>

  </form>

</div>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>تایتل</th>
					<th>نام پروزه </th>
					<th>تعداد ستاره ها</th>
					<th>خلاصه</th>
					<th>تگ</th>
					<th>لینک</th>
				</tr>
              
				{% for post in filtered %}

				<tr>
					<td>{{post.title}}</td>
					<td>{{post.name}}</td>
					<td>{{post.stars}}</td>
					<td>{{post.summary}}</td>
					<td>{{post.url}}</td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'post_detail' post.id %}">لینک</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
<script src="{% static 'blog/js/dropdown_list.js' %}"></script>
<script src="{% static 'blog/js/search_dropdown.js' %}"></script>
<script src="{% static 'blog/js/search_rangeSlider.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/submit_form.js' %}"></script>
{% if post_list.has_other_pages %}
<nav aria-label="Page navigation conatiner"></nav>
<ul class="pagination justify-content-center">
  {% if post_list.has_previous %}
  <li><a href="?page={{ post_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
  {% endif %}
  {% if post_list.has_next %}
  <li><a href="?page={{ post_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
 {% endif %}
</ul>
</nav>
</div>
{% endif %}

{% endblock %}

